In [ ]:
import kagglehub

path = kagglehub.dataset_download("amitabhajoy/bengaluru-house-price-data")

print("Path to dataset files:", path)

c:\Users\ADMIN\anaconda3\envs\DeepLearning\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/amitabhajoy/bengaluru-house-price-data?dataset_version_number=2...

100%|██████████| 195k/195k [00:00<00:00, 550kB/s]

Extracting files...
Path to dataset files: C:\Users\ADMIN\.cache\kagglehub\datasets\amitabhajoy\bengaluru-house-price-data\versions\2

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [15]:
df.shape

(13320, 9)

In [16]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [17]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [18]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [20]:
df.shape

(13320, 5)

In [21]:
df.dtypes

location       object
size           object
total_sqft     object
bath          float64
price         float64
dtype: object

In [22]:
df.select_dtypes(include='number').columns.to_list()

['bath', 'price']

In [23]:
df.select_dtypes(include='object').columns.to_list()

['location', 'size', 'total_sqft']

In [28]:
for i in df.columns:

    print(f"{i} : \nTotal values         : {df[i].value_counts().sum()}")
    print(f"No. of Unique Values : {df[i].nunique()}\n")

location :
Total values         : 13319
No. of Unique Values : 1305

size :
Total values         : 13304
No. of Unique Values : 31

total_sqft :
Total values         : 13320
No. of Unique Values : 2117

bath :
Total values         : 13247
No. of Unique Values : 19

price :
Total values         : 13320
No. of Unique Values : 1994

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [26]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [ ]:
for i in df.columns:
      print(f"{i:>10} : {df[i].isnull().sum()}")

  location : 1
      size : 16
total_sqft : 0
      bath : 73
     price : 0

In [30]:
df['bhk'] = df['size'].str.extract(r'(\d+)')