In [2]:
import numpy as np
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('student_admission_dataset.csv')
df.head()

,Student_ID,Name,Admission_Age,GPA,SAT_Score,Extracurricular_Activities,Gender,Income_Level,Admission_Date,Major,Admitted
0,530,Student_530,20,2.04,1092,0,Female,High,2020-05-23,Arts,0
1,495,Student_495,20,2.66,1178,1,Male,Low,2022-03-29,Engineering,0
2,395,Student_395,21,3.27,1454,0,Female,High,2023-09-20,Science,0
3,1865,Student_1865,24,3.43,917,0,Male,Medium,2020-06-22,Commerce,1
4,1491,Student_1491,21,3.21,1266,1,Female,High,2020-03-29,Science,1

In [4]:
df.isnull().sum()

Student_ID                      0
Name                            0
Admission_Age                   0
GPA                           201
SAT_Score                       0
Extracurricular_Activities      0
Gender                          0
Income_Level                    0
Admission_Date                  0
Major                           0
Admitted                        0
dtype: int64

In [5]:
null = df.isnull().sum()
# Display columns with missing values
null_ratio = null[null > 0] / df.shape[0]
pd.DataFrame({"Null": null[null > 0], "Null_ratio": null_ratio}).T

                   GPA
Null        201.000000
Null_ratio    0.099505

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  2020 non-null   int64
 1   Name                        2020 non-null   object
 2   Admission_Age               2020 non-null   int64
 3   GPA                         1819 non-null   float64
 4   SAT_Score                   2020 non-null   int64
 5   Extracurricular_Activities  2020 non-null   int64
 6   Gender                      2020 non-null   object
 7   Income_Level                2020 non-null   object
 8   Admission_Date              2020 non-null   object
 9   Major                       2020 non-null   object
 10  Admitted                    2020 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 173.7+ KB

In [8]:
mean=df['GPA'].mean()
df['GPA']=df['GPA'].fillna(mean)

In [9]:
null = df.isnull().sum()
# Display columns with missing values
null_ratio = null[null > 0] / df.shape[0]
pd.DataFrame({"Null": null[null > 0], "Null_ratio": null_ratio}).T

Empty DataFrame
Columns: []
Index: [Null, Null_ratio]

In [10]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [12]:
X=df.drop('Admitted',axis=1)
y=df['Admitted']

In [13]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [18]:
from sklearn.model_selection import  GridSearchCV
model = SVC(kernel = 'poly')
par={'degree':[2,3,4,5]}


Grid_Search_svc=GridSearchCV(estimator=model,param_grid=par)

In [19]:
Grid_Search_svc.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [ ]:
model = SVC(kernel = 'poly', degree = 2)
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)