In [104]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)
pd.set_option('display.max_colwidth', None) 

%matplotlib inline

In [105]:
df=pd.read_csv('Booking.csv')
display(df.head(5))

,Booking_ID,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,lead time,market segment type,repeated,P-C,P-not-C,average price,special requests,date of reservation,booking status
0,INN00001,1,1,2,5,Meal Plan 1,0,Room_Type 1,224,Offline,0,0,0,88.00,0,10/2/2015,Not_Canceled
1,INN00002,1,0,1,3,Not Selected,0,Room_Type 1,5,Online,0,0,0,106.68,1,11/6/2018,Not_Canceled
2,INN00003,2,1,1,3,Meal Plan 1,0,Room_Type 1,1,Online,0,0,0,50.00,0,2/28/2018,Canceled
3,INN00004,1,0,0,2,Meal Plan 1,0,Room_Type 1,211,Online,0,0,0,100.00,1,5/20/2017,Canceled
4,INN00005,1,0,1,2,Not Selected,0,Room_Type 1,48,Online,0,0,0,77.00,0,4/11/2018,Canceled

In [106]:
object_columns = df.select_dtypes(include="object")

In [107]:
df.duplicated().sum()

np.int64(0)

In [108]:
df.isnull().sum()

Booking_ID                  0
number of adults            0
number of children          0
number of weekend nights    0
number of week nights       0
type of meal                0
car parking space           0
room type                   1
lead time                   0
market segment type         0
repeated                    0
P-C                         0
P-not-C                     0
average price               3
special requests            0
date of reservation         0
booking status              0
dtype: int64

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36285 entries, 0 to 36284
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Booking_ID                36285 non-null  object
 1   number of adults          36285 non-null  int64
 2   number of children        36285 non-null  int64
 3   number of weekend nights  36285 non-null  int64
 4   number of week nights     36285 non-null  int64
 5   type of meal              36285 non-null  object
 6   car parking space         36285 non-null  int64
 7   room type                 36284 non-null  object
 8   lead time                 36285 non-null  int64
 9   market segment type       36285 non-null  object
 10  repeated                  36285 non-null  int64
 11  P-C                       36285 non-null  int64
 12  P-not-C                   36285 non-null  int64
 13  average price             36282 non-null  float64
 14  special requests          36285 non-null  int64
 15  date of reservation       36285 non-null  object
 16  booking status            36285 non-null  object
dtypes: float64(1), int64(10), object(6)
memory usage: 4.7+ MB

In [110]:
null=df.isnull().sum()
null_ratio=null[null>0]/df.shape[0]
pd.DataFrame({'null':null[null>0],'null_ratio':null_ratio}).T

            room type  average price
null         1.000000       3.000000
null_ratio   0.000028       0.000083

In [111]:
mean=df['average price'].mean()
df['average price']=df['average price'].fillna(mean)

In [112]:
mode=df['room type'].mode().iloc[0]
df['room type']=df['room type'].fillna(mode)

In [113]:
df.drop(['Booking_ID','date of reservation'],axis=1,inplace=True)

In [114]:
pd.DataFrame({'unique':df.nunique(),'type':df.dtypes}).T

,number of adults,number of children,number of weekend nights,number of week nights,type of meal,car parking space,room type,lead time,market segment type,repeated,P-C,P-not-C,average price,special requests,booking status
unique,5,6,8,18,4,2,7,352,5,2,9,59,3931,6,2
type,int64,int64,int64,int64,object,int64,object,int64,object,int64,int64,int64,float64,int64,object

In [115]:
from category_encoders import BinaryEncoder
encoder=BinaryEncoder(object_columns)
df=encoder.fit_transform(df)

In [123]:
X=df.drop('booking status',axis=1)
y=df['booking status']

KeyError: "['booking status'] not found in axis"